/node_modules
/public/hot
/public/storage
/storage/app/public/upload/images
/storage/framework/*.key
/storage/logs/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.env.dusk.local
.phpunit.result.cache
